.liberty {
    color: rgb(44,188,155);
}

.libertyBG {
    background-color: rgba(44,188,155,0.4);
}

.spy {
    color: rgb(231,75,76);
}

.spyBG {
    background-color: rgba(231,75,76,0.4);
}

.unknown {
    color: rgb(79,79,140);
}

.unknownBG {
    background-color: rgba(79,79,140,0.4);
}

/*
#spoe {
    background: #faa;
    background: #f00;
    background: #f00;
}

#oevp {
    background: #bfbfbf;
    background: #000;
    background: #333;
}

#fpoe {
    background: #63758e;
    background: #0e428e;
    background: #0a2e66;
}

#gruene {
    background: #90a378;
    background: #6ba325;
    background: #426617;
}

#neos {
    background: #e5aec8;
    background: #e6408d;
    background: #661c3e;
}

#frank {
    background: #f7ebaf;
    background: #f8d323;
    background: #66570e;
}
*/
