.contactBox {
    margin: 2em auto;
    width: 50%;
}

.table {
    margin-bottom: 0;
}

.contactBox table img,
.contactIcon {
    width: 25px;
}

.table tbody tr th {
    vertical-align: middle;
}

.nav-pills li.active a,
.nav-pills li.active a:focus,
.nav-pills li.active a:hover {
    background: none;
}

.nav-pills li a,
.nav-pills li a:focus,
.nav-pills li a:hover {
    background: none;
    color: inherit;
}

table caption {
    padding: 1em 0;
    color: #EEE;
}

#spoeTab,
#spoeTab {
    background: #faa;
}

#spoeTab.active,
#spoe table caption {
    background: red;
}

#spoeTable {
    background: -moz-linear-gradient(left, rgba(255,0,0,0.1) 0%, rgba(255,0,0,0.05) 50%, rgba(255,0,0,0.1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,0,0,0.1) 0%,rgba(255,0,0,0.05) 50%,rgba(255,0,0,0.1) 100%);
    background: linear-gradient(to right, rgba(255,0,0,0.1) 0%,rgba(255,0,0,0.05) 50%,rgba(255,0,0,0.1) 100%);
}

#oevpTab,
#oevpTab {
    background: #bfbfbf;
}

#oevpTab.active,
#oevp table caption {
    background: black;
}

#oevpTable {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.1) 100%);
}

#fpoeTab {
    background: #63758e;
}

#fpoeTab.active,
#fpoe table caption {
    background: #0e428e;
}

#fpoeTable {
    background: -moz-linear-gradient(left, rgba(14,66,142,0.1) 0%, rgba(14,66,142,0.05) 50%, rgba(14,66,142,0.1) 100%);
    background: -webkit-linear-gradient(left, rgba(14,66,142,0.1) 0%,rgba(14,66,142,0.05) 50%,rgba(14,66,142,0.1) 100%);
    background: linear-gradient(to right, rgba(14,66,142,0.1) 0%,rgba(14,66,142,0.05) 50%,rgba(14,66,142,0.1) 100%);
}

#grueneTab {
    background: #90a378;
}

#grueneTab.active,
#gruene table caption {
    background: #6ba325;
}

#grueneTable {
    background: -moz-linear-gradient(left, rgba(107,163,37,0.1) 0%, rgba(107,163,37,0.05) 50%, rgba(107,163,37,0.1) 100%);
    background: -webkit-linear-gradient(left, rgba(107,163,37,0.1) 0%,rgba(107,163,37,0.05) 50%,rgba(107,163,37,0.1) 100%);
    background: linear-gradient(to right, rgba(107,163,37,0.1) 0%,rgba(107,163,37,0.05) 50%,rgba(107,163,37,0.1) 100%);
}

#frankTab {
    background: #f7ebaf;
}

#frankTab.active,
#frank table caption {
    background: #f8d323;
}

#frankTable {
    background: -moz-linear-gradient(left, rgba(248,211,35,0.1) 0%, rgba(248,211,35,0.05) 50%, rgba(248,211,35,0.1) 100%);
    background: -webkit-linear-gradient(left, rgba(248,211,35,0.1) 0%,rgba(248,211,35,0.05) 50%,rgba(248,211,35,0.1) 100%);
    background: linear-gradient(to right, rgba(248,211,35,0.1) 0%,rgba(248,211,35,0.05) 50%,rgba(248,211,35,0.1) 100%);
}

#neosTab {
    background: #e5aec8;
}

#neosTab.active,
#neos table caption {
    background: #e6408d;
}

#neosTable {
    background: -moz-linear-gradient(left, rgba(230,64,141,0.1) 0%, rgba(230,64,141,0.05) 50%, rgba(230,64,141,0.1) 100%);
    background: -webkit-linear-gradient(left, rgba(230,64,141,0.1) 0%,rgba(230,64,141,0.05) 50%,rgba(230,64,141,0.1) 100%);
    background: linear-gradient(to right, rgba(230,64,141,0.1) 0%,rgba(230,64,141,0.05) 50%,rgba(230,64,141,0.1) 100%);
}
