#settings {
    text-align: center;
}

#settings .row {
    margin-bottom: 1em;
}

main .background {
    position: absolute;
    opacity: 0.1;
    filter: Alpha(opacity=10);
    left: 48%;
    top: -19%;
    transform: translate(-50%,0);
}

.modal #repColor {
    position: absolute;
    width: 100%;
    height: 65%;
    top: 0;
    left: 0;
    border-bottom-left-radius: 100% 150px;
    border-bottom-right-radius: 100% 150px;
    overflow: hidden;
}

.modal .austria {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.modal #repImg {
    position: relative;
    height: 250px;
    width: auto;
    -webkit-filter: grayscale(80%) sepia(30%);
    filter: grayscale(80%) sepia(30%);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
}

.modal #teamSign {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translate(-50%,50%);
    padding: 2px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.modal .modal-title {
    margin: 0px 0px 15px;
    position: relative;
    text-shadow: 0 0 10px #111;
}

.modal p {
    text-align: center;
    font-size: larger;
}

.contactButton {
    display: inline-block;
    margin: 2px;
    padding: 5px;
}

.contactIcon {
    
}
